{% extends "_base.html" %}

{% block body_content %}
    <p>my items:</p>
    {% if object_list %}
        <ul>
            {% for item in object_list %}
                <li><a href="{% url 'items:item_detail' pk=item.pk %}">{{ item.name }}</a> ({{ item.get_type_display }}){% if item.is_for_sale %} (selling){% endif %}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>none</p>
    {% endif %}
    <p><a href="{% url 'items:item_market' %}">buy items</a></p>
    <p><a href="{% url 'items:sell_items' %}">sell items</a></p>
{% endblock %}