{% extends "_base.html" %}

{% block body_content %}
    {% if character %}
        <p>character name: {{ character.name }}</p>
        <p>equipment:</p>
        <ul>
            <li>armor: {% if character.armor %}{{ character.armor }} (<a href="{% url 'items:unequip_item' pk=character.armor.pk %}">unqeuip</a>){% else %}none{% endif %}</li>
            <li>weapon: {% if character.weapon %}{{ character.weapon }} (<a href="{% url 'items:unequip_item' pk=character.weapon.pk %}">unequip</a>){% else %}none{% endif %}</li>
        </ul>
        <p><a href="{% url 'characters:character_edit' pk=character.pk %}">edit character</a></p>
        <p><a href="{% url 'characters:character_delete' pk=character.pk %}">delete character</a></p>
    {% else %}
        no character. <a href="{% url 'characters:character_create' %}">create character</a>
    {% endif %}
{% endblock %}