{% extends "_base.html" %}
{% load static from staticfiles %}


{% block body_content %}
    <p>inbox:</p>
    {% if received_messages %}
        <ul>
            {% for message in received_messages %}
                <li>{% if message.is_read == True %}read{% else %}unread{% endif %} - {{ message.date }} - from: {{ message.sender }}; to: {{ message.recipient }}; subject: <a href="{% url 'mail:message_detail' pk=message.pk %}">{{ message.subject }}</a> - <a href="{% url 'mail:message_delete' pk=message.pk %}" class="delete-message">delete</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>none</p>
    {% endif %}

    <p>sent:</p>
    {% if sent_messages %}
        <ul>
            {% for message in sent_messages %}
                <li>{{ message.date }} - from: {{ message.sender }}; to: {{ message.recipient }}; subject: <a href="{% url 'mail:message_detail' pk=message.pk %}">{{ message.subject }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>none</p>
    {% endif %}

    <p><a href="{% url 'mail:message_create' %}">create message</a></p>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/message_delete.js' %}"></script>
{% endblock %}